.chapters{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.chap10{
    background-color: rgba(24, 146, 212, 0.691);
    height: 400px;
    width: 300px;
    margin-top: 30px;
    color: white;
    /*flex: 1;*/
}
.chap11{
    background-color: rgba(28, 199, 212, 0.558);
    height: 400px;
    width: 300px;
    margin-top: 20px;
    color: white;
    flex:1;
}




a{
    color: rgba(33, 23, 231, 0.983);
    padding-left: 20px;
    font-size: 45px;
}
body{
    background-image: url(backgroundimgs/krishna.jpg);
    background-attachment:fixed;
    height: 1000px;
    font-size:30px;
}
background-image{
    opacity: 0.2;
}
.hydra{
    display: flex;
    flex-direction: column;
    background-color:rgba(165, 224, 235, 0.75);
    height: 1000px;
    width: 1000px;
    margin-left: 350px;

}
.hydra1{
    display: flex;
    flex-direction: column;
    background-color:rgba(183, 198, 198, 0.75);
    height: 1000px;
    width: 1000px;
    margin-left: 350px;

}
.hero
       {
        background-color: rgba(55, 28, 229, 0.641);
        color: rgb(35, 144, 65);
        width: 290px;
        margin-top: 90px;
    }
       


    
    
